<plugin>
	<nom>Shop Geolocalistation</nom>
	<auteur><a href="http://www.mychacra.net">Rainer Müller</a></auteur>
	<version>1.0.0</version>
	<etat>test</etat>
	<description>
	Détecte le pays, peut attribuer un langue et une divise selon le pays.
	</description>
	<licence>GPL 3</licence>
	<prefix>shop_geolocalisation</prefix>
<!--		<icon>img/logo_boutique_32.png</icon>-->
<!--	<bouton id="boutique_edit" parent="naviguer">
		<icone>img/logo_boutique_24.png</icone>
		<titre>Boutique</titre>   
		<url>boutique</url>   
    	</bouton>-->
	<options>shop_geolocalisation_options.php</options>
	<necessite id="SPIP" version="[3.0.10;]" />
	<necessite id="shop" version="[1.2.3;]" />
</plugin>

